.section-projects {
    background-color: $black;
    position: relative;
    overflow: hidden;

    @media (min-width: $lg) {
        height: 100%;
    }

    .navigation {
        position: absolute;
        bottom: 0;
        z-index: 3;
        width: 100%;
        max-width: 100%;
        height: fit-content;
        display: none;

        @media (min-width: $lg) {
            display: flex;
            height: auto;
            top: unset;
            max-width: 45%;
            padding: 3em;
            justify-content: space-between;
        }

        @media (min-width: $xl) {
            padding: 5em;
        }

        .buttons {
            width: 100%;
            outline: none;
            display: flex;
            justify-content: space-between;

            &__next,
            &__prev {
                padding: 2em 1.25em;
                text-transform: uppercase;
                font-size: 0.9rem;

                @media (min-width: $sm) {
                    padding: 2em 1.5em;
                }

                @media (min-width: $md) {
                    padding: 2em 1.75em;
                }
            }

            &__next {
                color: $white;
                background-color: $black;
            }

            &__prev {
                color: $black;
                background-color: $athens-gray;
            }

            @media (min-width: $lg) {
                width: auto;
            }
        }

        .progress {
            width: 100%;
            max-width: 8em;
            display: none;

            @media (min-width: $lg) {
                display: block;
            }

            &__current {
                font-size: 2rem;
                font-weight: 300;
            }

            &__bar-outer {
                margin: 0.75em 0;
                height: 2px;
                background: $athens-gray;
            }

            &__bar-inner {
                height: 2px;
                width: 10%;
                background: $blue-ribbon;
                transition: all 0.5s ease 0s;
            }

            &__total-slides {
                font-size: 1rem;
                color: $dove-gray;
            }
        }
    }

    .slides {
        width: 100%;
        display: flex;
        position: relative;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;

        @media (min-width: $lg) {
            position: absolute;
            height: 100%;
        }
    }

    .slide {
        @media (max-width: $lg) {
            height: 100vh;
            min-width: 100vw;
            scroll-snap-align: start;
        }
    }

    .slide {
        position: relative;
        height: 100%;
        width: 100%;
        padding: 5em 0.5em 0.5em;
        background-color: $black-pearl-dark;

        @media (min-width: $md) {
            padding: 5em 1em 1em;
        }

        @media (min-width: $lg) {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0;
            overflow: hidden;
            position: absolute;
        }

        &--active {
            .column {
                &__right {
                    z-index: 1;
                    transform: translate3d(0, 0, 0);
                }

                &__left {
                    z-index: 2;
                    transform: translate3d(0, 0, 0);

                    @media (min-width: $lg) {
                        z-index: 1;
                    }
                }
            }
        }

        &--append {
            .column {
                &__right {
                    @media (min-width: $lg) {
                        animation: projectsRightToLeft 0.5s both;
                    }
                }

                &__left {
                    @media (min-width: $lg) {
                        animation: projectsLeftToRight 0.5s both;
                    }
                }
            }
        }

        &--remove {
            .column {
                &__right {
                    @media (min-width: $lg) {
                        z-index: 1;
                        animation: projectsRightToLeftReverse 0.5s both;
                    }
                }

                &__left {
                    @media (min-width: $lg) {
                        z-index: 1;
                        animation: projectsLeftToRightReverse 0.5s both;
                    }
                }
            }
        }
    }

    .column {
        width: 100%;
        height: 100%;
        overflow: hidden;

        &__right {
            width: 100%;
            position: relative;

            @media (min-width: $lg) {
                position: absolute;
                right: 0;
                transform: translate3d(100%, 0, 0);
                height: 100%;
                width: 55%;
            }
        }

        &__left {
            position: relative;

            @media (min-width: $lg) {
                position: absolute;
                left: -1;
                transform: translate3d(-100%, 0, 0);
                height: 100%;
                width: 45%;
            }
        }

        &:hover {
            .project {
                &__description {
                    opacity: 1;
                }

                &__button {
                    @media (min-width: $lg) {
                        width: 100%;
                    }
                }
            }
        }
    }

    .project {
        position: relative;
        z-index: 1;
        bottom: 0;
        white-space: normal;
        padding: 2em 1em;
        color: $white;
        background-color: $black-pearl-dark;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        &__heading {
            font-weight: 300;
            margin-bottom: 0.5em;

            @media (min-width: $lg) {
                font-weight: 700;
                margin-bottom: unset;
            }
        }

        @media (min-width: $lg) {
            z-index: 1;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 3em;
            border-radius: 0;
            color: $black;
            max-width: 100%;
            background-color: $white;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }

        @media (min-width: $xl) {
            padding: 5em;
        }

        &--hide {
            opacity: 0;

            @media (min-width: $lg) {
                opacity: 1;
            }
        }

        &__logo {
            max-width: 7em;
            z-index: 1;
            position: absolute;
            top: 1em;
            left: 1em;
            display: none;

            @media (min-width: $md) {
                display: block;
            }

            @media (min-width: $lg) {
                max-width: 8.5em;
            }
        }

        &__description {
            opacity: 1;

            @media (min-width: $lg) {
                transition: opacity 0.5s ease-in-out;
                opacity: 0;
                max-width: 40em;
            }
        }

        &__button {
            width: 0;
            display: none;
            overflow: hidden;
            transition: width 0.5s ease-in-out;

            @media (min-width: $lg) {
                display: block;
            }
        }

        .subhead {
            display: flex;
            margin-bottom: 3.5em;
            flex-direction: row;
            align-items: center;

            @media (min-width: $lg) {
                display: flex;
                margin-bottom: 1em;
            }

            &__number {
                margin-right: 0.5em;
            }

            &__separator {
                height: 1px;
                width: 3.5em;
                background: $white;
                margin-right: 0.5em;

                @media (min-width: $lg) {
                    background: $black;
                }
            }
        }

        &:hover {
            .project {
                &__description {
                    opacity: 1;
                }

                &__button {
                    @media (min-width: $lg) {
                        width: 100%;
                    }
                }
            }
        }

        &__preview {
            width: 100%;
            padding-top: 100%;
            position: relative;
            background-color: $athens-gray;

            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            border-radius: 5px;

            @media (min-width: $lg) {
                position: absolute;
                border-radius: 0;
                height: 100%;
                padding: 0;
            }
        }
    }
}
