.section-footer {
    position: relative;
    padding: 20em 2em 0 2em;

    @media (max-width: $md) {
        padding: 18em 2em 2em 2em;
    }

    &__wrapper {
        @extend .wrapper;
    }

    .company {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2em;
        align-items: center;

        &__logo {
            max-width: 2.5em;

            @media (max-width: $md) {
                margin-bottom: 1em;
            }

            @media (max-width: $sm) {
                max-width: 2.25em;
            }
        }

        .social {
            display: flex;
            padding-top: 0.5em;
            justify-content: center;

            &__platform {
                display: flex;
                padding: 0.5em;
                transition: color 0.5s ease;
                width: 1.5em;
                color: $white;
                text-decoration: none;
                font-size: 1.2em;
                height: 1.5em;
                border-radius: 50%;
                justify-content: center;
                align-items: center;
                background: rgba(255, 255, 255, 0.08);
                margin: 0 0.25em;
            }
        }

        @media (max-width: $md) {
            align-items: center;
            flex-direction: column;
        }
    }

    &__copyright {
        padding: 2em 0;
        color: rgba(255, 255, 255, 0.66);
        border-top: 1px solid rgba(255, 255, 255, 0.08);

        @media (max-width: $md) {
            text-align: center;
        }
    }
}