h1, h2, h3, h4, h5 {
    font-weight: 400;
    letter-spacing: -0.5px;
}

h1 {
    font-size: 2.5rem;

    @media (max-width: $md) {
        font-size: 2.25rem;
    }

    @media (max-width: $sm) {
        font-size: 2rem;
    }
}

h2 {
    font-size: 2.25rem;

    @media (max-width: $md) {
        font-size: 2rem;
    }

    @media (max-width: $sm) {
        font-size: 1.75rem;
    }
}

p {
    font-weight: 400;
}