.section-contact {
    background-color: $white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5em 2em 0;

    @media (max-width: $md) {
        padding: 5em 1em 0;
    }

    @media (max-width: $sm) {
        padding: 3em 1em 0;
    }

    &__wrapper {
        @extend .wrapper__fluid--large;
        display: flex;
        justify-content: center;
    }

    &__heading {
        max-width: 15em;
        text-align: center;
        margin: 0;
        color: $lucky-point;
    }

    &__description {
        margin: .5em 0;
        max-width: 20em;
        text-align: center;
        line-height: 1.75rem;
        font-size: 1.1rem;
        color: $lucky-point;

        p {
            margin: 0;
        }
    }

    .form {
        display: flex;
        border: 1px solid $athens-gray;
        padding: 2.5em;
        width: 100%;
        max-width: 30em;
        margin: 2em 0 -15em;
        z-index: 1;
        background: $white;
        border-radius: 10px;
        justify-content: center;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);

        .gfield {
            input {
                &:focus {
                    border-color: $lucky-point;
                }
            }
        }

        .gform_button {
            @extend button;
            color: $lucky-point;

            &:hover {
                background-color: $lucky-point;
                border-color: $lucky-point;
                color: $white;
            }
        }

        input[type='radio']:checked:after {
            background-color: $white;
            border: 2px solid $lucky-point;
        }

        @media (max-width: $sm) {
            padding: 1.5em;
        }
    }

    &:after {
        content: "";
        position: absolute;
        bottom: -9em;
        left: 0;
        right: 0;
        height: 9em;
        background-image: url("/content/themes/romin/assets/images/contact_bottom_curves_faded.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        pointer-events: none;
    }
}