.section-hero {
    background-image: url("/content/themes/romin/assets/images/hero_top_curves_faded.svg");
    padding: 2em 2em 7em;
    background-size: 400% 100%;
    background-repeat: no-repeat;
    background-position: 1% 100%;

    @media (max-width: $md) {
        padding: 2em 1em 7em;
    }

    &__wrapper {
        @extend .wrapper;
    }

    .illustration {
        width: 55%;
        position: absolute;
        top: 30%;
        right: -5%;
        perspective: 180px;

        &__image {
            transform: translate(0%, 0%) rotate3d(0, -100, 6, 3deg) rotateZ(0deg);
        }

        @media (max-width: $xl) {
            top: 30%;
            right: -2.5%;
            max-width: 55%;
        }

        @media (max-width: $lg) {
            right: -5%;
        }

        @media (max-width: $md) {
            top: 82%;
            max-width: 480px;
            right: -20%;
            width: 100%;
        }

        @media (max-width: $sm) {
            top: 105%;
            max-width: 460px;
            right: -32.5%;
            width: 100%;
            min-width: 430px;
        }
    }

    .column {
        @extend .grid;

        &__content {
            width: 50%;
            display: flex;


            @media (max-width: $md) {
                width: 65%;
                flex-direction: column;
            }

            @media (max-width: $sm) {
                width: 100%;
                flex-direction: column;
            }
        }
    }

    &__heading {
        color: $lucky-point;
        margin: 0 0 0.5em;
        position: relative;
    }

    &__description {
        color: $lucky-point;
        margin: 1em 0;
        font-size: 1.1em;
        line-height: 2em;

        @media (max-width: $lg) {
            font-size: 1rem;
        }
    }

    &__button {
        display: inline-flex;
        color: $white;
        background-color: $lucky-point;
        padding: .65em 1.5em;
        margin-top: 2em;
        border: 2px solid $lucky-point;
        border-radius: 50px;
        transition: .25s ease all;

        @media (max-width: $lg) {
            padding: 0.7em 1.5em;
        }

        @media (max-width: $md) {
            padding: 0.6em 1.25em;
        }

        @media (max-width: $sm) {
            margin-bottom: 2em;
        }

        &:hover {
            background-color: $white;
            border-color: $lucky-point;
            color: $lucky-point;
        }
    }

    &__content {
        margin-right: 2.5em;

        @media (max-width: $md) {
            margin: 0;
        }
    }

    &__illustration {
        transform: translate(0%, 0%) rotate3d(0, -100, 6, 3deg) rotateZ(0deg);

        @media (max-width: $md) {
            margin: 0;
            width: 80%;
        }

        @media (max-width: $sm) {
            width: 100%;
        }
    }

    @media (min-width: $sm) {
        padding: 4em 2em 15em 2em;
        background-size: 200% 100%;
        background-position: 75% 80%;
    }

    @media (min-width: $md) {
        padding: 5em 2em 15em 2em;
        background-size: 120% 90%;
        background-position: 50% 0;
    }

    @media (min-width: $lg) {
        background-size: 95% 100%;
        padding: 4em 2em 10em 2em;
        background-position: -1% 100%;
    }

    @media (min-width: $xl) {
        padding: 5em 2em 12em 2em;
    }

    @media (min-width: $xxl) {
        padding: 5em 0 15em 0;
        background-size: 85% 100%;
        background-position: -2% 100%;
    }

    @media (min-width: 1800px) {
        padding: 8em 0 20em 0;
        background-size: 80% 100%;
    }

    @media (min-width: 2200px) {
        padding: 8em 0 22em 0;
        background-size: 70% 100%;
    }
}