.arrow {
    width: 1em;
    position: relative;
    margin-left: 1.5em;
    transition: all 0.25s;

    &:before {
        content: "";
        top: 50%;
        right: 0;
        width: 7px;
        height: 7px;
        position: absolute;
        background: transparent;
        transition: all 200ms ease;
        border-top: 1px solid $black;
        border-right: 1px solid $black;
        transform: translate3d(0, -50%, 0) rotate(45deg);
    }

    &:after {
        content: "";
        top: 50%;
        left: 51%;
        width: 100%;
        height: 1px;
        position: absolute;
        background-color: $black;
        transform: translate(-50%, -50%);
    }
}
