.ios-pwa {
    background-color: $shark;
    z-index: 12;
    position: fixed;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5em;
    padding: 1em;
    display: none;

    &--show {
        display: flex;
    }

    &__spacer {
        padding: 2.5em;
        display: none;

        &--show {
            display: block;
        }
    }
    
    &__close {
        padding: 0.75em 1.5em 0.75em 0.75em;
    }

    &__description {
        font-size: 0.85rem;
    }

    &__share-icon {
        width: 1em;
        margin: 0 0.25em;
    }
}
