// Media Queries
$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

$iphone: 320px;

$wrapper: 1025px;

// Colors
$white: #FFFFFF;
$black: #000000;
$blue-gem: #330ea6;
$lucky-point: #1E2979;
$biscay: #1D3F66;
$comet: #5A5F84;
$mercury: #E5E5E5;
$athens-gray: #E2E3EC;
$athens-gray-light: #f5f6f9;
$razzmatazz: #F71C70;
$valencia: #D53C4A;
$pomegranate: #F44336;
$egg-blue: #00BCD4;
$cyan: #15E8FF;